{% extends 'base.html' %}

{% block title %}
Exercises
{% endblock title %}

{% block body %}
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color:black;
  color: white;
}
</style>
<style>
body {
  text-align: justify;
  padding: 3px;
  background-color:black;
  color: white;
  font-variant: petite-caps;
}
</style>
<style>
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #212529;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
</style>

{% endblock body %}