{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
       
         <img src="/static/5.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
         
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        
        <img src="/static/18.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/19.jpg" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">BODYBUILDING<span class="text-muted"></span></h2>
        <p class="lead">Bodybuilding is the use of progressive resistance exercise to control and develop one's musculature (muscle building) by muscle hypertrophy for aesthetic purposes.</p>
        <a class='btn btn-outline-primary' href='/exercises' role="button">Learn More</a>
      </div>
      <div class="col-md-5">
      <img src="/static/15.jpg" class="d-block w-100" alt="...">
        
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">YOGA <span class="text-muted"></span></h3>
        <p class="lead">Derived from the Sanskrit word “yuji,” meaning yoke or union, yoga is an ancient practice that brings together mind and body. It incorporates breathing exercises, meditation and poses designed to encourage relaxation and reduce stress.</p>
        <a class='btn btn-outline-primary' href='/exercises' role="button">Learn More</a>
      </div>
      <div class="col-md-5 order-md-1">
      <img src="/static/17.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">CROSSFIT <span class="text-muted"></span></h2>
        <p class="lead">CrossFit is a fitness program that uses strength and endurance training for short, high-intensity workoutsThe magic is in the movement. CrossFit workouts are different every day and can be modified to help each athlete achieve their goals. The workouts may be adapted for people at any age and level of fitness.</p>
        <a class='btn btn-outline-primary' href='/exercises' role="button">Learn More</a>
      </div>
      <div class="col-md-5">
      <img src="/static/14.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  

{% endblock body %}